In [36]:
# imports
import pandas as pd
import numpy as np
import itertools
import random
from geopy.distance import geodesic

In [37]:
# load the cities dataset
MHQoL = pd.read_csv('/content/data/movehubqualityoflife.csv')
cities = pd.read_csv('/content/data/cities.csv')
HappinessIndex = pd.read_csv('/content/data/2019.csv')
UnescoSites = pd.read_csv('/content/data/whc-sites-2019.csv')
MHQoL.head()
cities.head()
HappinessIndex.head()
UnescoSites.head()

   category states_name_en  ... udnp_code  transboundary
0  Cultural    Afghanistan  ...       afg              0
1  Cultural    Afghanistan  ...       afg              0
2  Cultural        Albania  ...       alb              0
3  Cultural        Albania  ...       alb              0
4  Cultural        Algeria  ...       dza              0

[5 rows x 22 columns]

In [62]:
def function(city):
  distances= UnescoSites.apply(lambda sites : geodesic((sites['latitude'],sites['longitude']), (city['lat'], city['lng'])).kilometers,1)
  return sum(map(lambda x : x<100, distances))

In [70]:
City_Country = pd.merge(MHQoL[['City','Purchase Power', 'Health Care', 'Pollution', 'Quality of Life', 'Crime Rating','lat','lng']],
                 cities,
                 on='City')

HappinessIndex=HappinessIndex.rename(columns={'Country or region': 'Country', 'Score': 'Happiness_Score'})

City_Country_Happiness = pd.merge(City_Country,
                 HappinessIndex[['Country','Happiness_Score']],
                 on='Country')

City_Country_Happiness['Unesco']=City_Country_Happiness.apply(function, 1)


City_Country_Happiness.head(20)

              City  Purchase Power  ...  Happiness_Score  Unesco
0          Caracas           11.25  ...            4.707       1
1        Barcelona           45.68  ...            4.707       0
2         Valencia           49.11  ...            4.707       0
3     Johannesburg           53.99  ...            4.722       0
4        Cape Town           60.36  ...            4.722       2
5         Pretoria           46.74  ...            4.722       0
6        Fortaleza           52.28  ...            6.300       0
7     Porto Alegre           19.07  ...            6.300       0
8   Belo Horizonte           21.77  ...            6.300       3
9          Colombo           20.18  ...            6.300       2
10        Curitiba           34.97  ...            6.300       0
11     Saint Louis           80.40  ...            4.681       1
12     Mexico City           24.28  ...            6.595       7
13         Detroit           73.81  ...            6.892       0
14       Las Vegas           80.46  ...            6.892       0
15     Los Angeles           62.75  ...            6.892       0
16         Houston           71.96  ...            6.892       0
17          Dallas           76.18  ...            6.892       0
18       Baltimore           78.78  ...            6.892       0
19          Athens           26.05  ...            6.892       4

[20 rows x 11 columns]

In [72]:
features = ['Purchase Power', 'Health Care', 'Quality of Life', 'Pollution', 'Crime Rating', 'Happiness_Score', 'Unesco']

norm = lambda xs: (xs-xs.min())/(xs.max()-xs.min())
City_Country_Happiness[features] = (norm(City_Country_Happiness[features]) * 100)

City_Country_Happiness['QoL_H']=(City_Country_Happiness['Quality of Life']+City_Country_Happiness['Happiness_Score'])/2

City_Country_Happiness.head(20)

              City  Purchase Power  ...     Unesco      QoL_H
0          Caracas        5.697906  ...   9.090909  16.128850
1        Barcelona       45.981046  ...   0.000000  38.103554
2         Valencia       49.994150  ...   0.000000  48.193572
3     Johannesburg       55.703756  ...   0.000000  40.603268
4        Cape Town       63.156663  ...  18.181818  56.253906
5         Pretoria       47.221247  ...   0.000000  46.403177
6        Fortaleza       53.703054  ...   0.000000  50.726796
7     Porto Alegre       14.847315  ...   0.000000  47.986367
8   Belo Horizonte       18.006318  ...  27.272727  50.487507
9          Colombo       16.146016  ...  18.181818  45.029439
10        Curitiba       33.450333  ...   0.000000  63.255282
11     Saint Louis       86.603487  ...   9.090909  60.777325
12     Mexico City       20.943021  ...  63.636364  49.175671
13         Detroit       78.893179  ...   0.000000  65.793985
14       Las Vegas       86.673687  ...   0.000000  71.212171
15     Los Angeles       65.952966  ...   0.000000  72.533958
16         Houston       76.728677  ...   0.000000  78.949181
17          Dallas       81.666082  ...   0.000000  82.641068
18       Baltimore       84.708085  ...   0.000000  83.461487
19          Athens       23.013923  ...  36.363636  54.159983

[20 rows x 12 columns]

In [4]:
def generate_dataset(multiplier = 5):
    
    # 0 is none, 1 is low, 2 is mid, 3 is high
    choices = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
    
    # create all possible combinations and repeat them to create bigger ds
    combinations = list(itertools.product(*choices)) * multiplier
    
    dataset = pd.DataFrame(columns=['Weights', 'City'])
    dataset['Weights'] = pd.Series(combinations)
    
    for index, row in dataset.iterrows():
        row['City'] = get_city(np.array(row['Weights']))
        
    return dataset

In [5]:
def get_city(weights):
    
    # rank cities according to the weights given by the person
    ranked_cities = rank_cities(weights).reset_index(drop=True)
    
    # sample from uniform distribution and "randomly" select a city
    sample = np.random.uniform(0, 1, len(ranked_cities))
    prob_score = sample * list(ranked_cities['Score'])
    maximum = max(prob_score)
    if maximum != 0:
        chosen = [int(i/maximum) for i in prob_score]
    else:
        chosen = [0] * len(ranked_cities)
        chosen[random.randint(0, len(chosen))] = 1
        
    ranked_cities['Chosen'] = pd.Series(chosen)
        
    return ranked_cities[ranked_cities['Chosen'] == 1]['City'].values[0]

In [6]:
def rank_cities(weights):
    features = ['Purchase Power', 'Health Care', 'Quality of Life', 'Pollution', 'Crime Rating']
    
    # pollution and crime rating have a negative impact, whist the other features have a positive one
    weights *= [1, 1, 1, -1, -1]
    
    norm = lambda xs: (xs-xs.min())/(xs.max()-xs.min())
    # e^(2x) to increase the probability of getting the most compatible city
    cities['Score'] = np.exp(norm(cities[features].dot(weights)) * 10)
    
    return cities.sort_values('Score', ascending=False).fillna(0)

In [7]:
people = generate_dataset(5)

In [8]:
people

              Weights       City
0     (0, 0, 0, 0, 0)   Budapest
1     (0, 0, 0, 0, 1)  Abu Dhabi
2     (0, 0, 0, 0, 2)   Marbella
3     (0, 0, 0, 0, 3)     Malaga
4     (0, 0, 0, 1, 0)    Nicosia
...               ...        ...
5115  (3, 3, 3, 2, 3)    Dresden
5116  (3, 3, 3, 3, 0)    Glasgow
5117  (3, 3, 3, 3, 1)    Glasgow
5118  (3, 3, 3, 3, 2)     Zurich
5119  (3, 3, 3, 3, 3)    Dresden

[5120 rows x 2 columns]